<div class="container-fluid">
  <form [formGroup]="userForm" class="col-4 m-auto">
    <div class="form-group">
      <label for="username">Имя</label>
      <input type="text" class="form-control" id="username" placeholder="Имя" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="usersurname">Фамилия</label>
      <input type="text" class="form-control" formControlName="surname" />
    </div>
    <div class="form-group">
      <label for="usersurname">Телефон</label>
      <input type="text" class="form-control" formControlName="phone" mask="(000) 000-00-00" prefix="+7 " />
    </div>
    <div class="form-group">
      <label for="usersurname">Email</label>
      <input type="email" ngModel email class="form-control" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="usersurname">Дата рождения: месяц/день/год</label>
      <input type="text" class="form-control" formControlName="birthday" mask="00/00/0000" />
    </div>
    <div class="form-group">
        <select class="custom-select" formControlName="type">
            <option [ngValue]="MyUserType.IT">It department</option>
            <option [ngValue]="MyUserType.sales_department">Sales department</option>
            <option [ngValue]="MyUserType.delivery_department">Delivery department</option>
            <option [ngValue]="MyUserType.legal_department">Legal department</option>
        </select>
    </div>
    <button class="btn btn-primary mr-4" [disabled]="userForm.invalid" (click)="onSave()">
      Сохранить
    </button>
    <button class="btn btn-danger" *ngIf="id != null" (click)="onDelete()">Удалить</button>
  </form>
</div>
